<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <h2 class="mb-3">Advanced version</h2>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header p-0">
          <span *ngFor="let number of range" [style.width.%]="9.09">{{number}}</span>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-12" *ngFor="let character of characters">
              <span [attr.class]="character.badgeClass" [style.width.%]="calculatePaddingForCharacter(character.birth_year + character.average_lifespan)" [style.margin-left.%]="calculatePaddingForCharacter(character.birth_year)">
                {{ character.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
