.card-header {
  span {
    float: left;
    width: 9.09%;
    text-align: center;
    &:not(:last-child){
      border-right: 1px solid rgba(0, 0, 0, 0.125);
    }
  }
}

.card-body {
  overflow-x: hidden;

  span {
    text-align: left;
  }
}
