<div class="container">
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <h2 class="mb-3">Simple version</h2>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>0 - 20BBY</th>
          <th>20 - 40BBY</th>
          <th>40 - 60BBY</th>
          <th>60 - 80BBY</th>
          <th class="fit-content">80 - 100BBY</th>
          <th>100BBY+</th>
          <th>unknown</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td *ngFor="let bby of charactersByBirthYear | keyvalue">
            <span *ngFor="let character of bby.value" [attr.class]="character.badgeClass">
              {{ character.name }}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
