<ng-container *ngIf="characters.length == 0; then preloader; else graphs"></ng-container>

<ng-template #preloader>
  <preloader></preloader>
</ng-template>

<ng-template #graphs>
  <simple-graph [characters]="characters"></simple-graph>
  <advanced-graph [characters]="characters"></advanced-graph>
</ng-template>
